.admin-body {
    background-image: none;
    background-color: white;
    -ms-overflow-style: none;

}

.form-group {
  margin-top: 30px;
}

.admin-controls{
    padding: 40px;
    background-color: #1B365D;
    border-radius: 20px;
    color: white;
}

.admin-tables{
    padding: 40px;
    background-color: white;
    color: black;
}

.admin-tables-column{
    padding: 20px 0;
}

#rightCol{
  text-align: right;
}

#exTab1{
    padding: 15px 0;
}

a{
    color: white;
    background-color: rgba(0,0,0,0.35);
}

a:hover{
    color: white;
}

.black{
    color: black;
}

.btn-primary-admin {
    background-color: #f2ae42;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-primary-admin:hover{
    background-color: #db9e3e
}

.newForetag {
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px){
    .admin-body{
        padding: 0px;
    }
}
