h1 {
    font-size: 36px;
    text-align:center;
}

h2 {
    font-size: 26px;
    text-align:center;
}

.foretag-wrapper{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 25px;
}

.intro-text{
    margin-top: 20px;
    margin-bottom: 60px;
}

.small-p{
    font-size: 12px;
}

#draggablePanelList .panel {
    cursor: move;
}

.foretag{
    margin: 15px 0;
}