body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 220px 0;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 36px;
}

.small{
    font-size: 12px;
}

.shadowed{
    color: #1b365d;
    text-shadow: 2px 0px #ffffff;
}

h2 {
    font-size: 26px;
    text-align:center;
}

p {
    margin: 0;
}

.alert{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 200px;
}

.container-md{
    padding: 10px;
}

.name-holder{
    margin-bottom: 40px;
}

.foretag-wrapper{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 25px;
}

.intro-text{
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-p{
    font-size: 12px;
}

#draggablePanelList .panel {
    cursor: move;
}

.foretag-list{
    height: 430px;
    margin: 20px 0;
}

.foretag{
    margin: 15px 0;
}

.submit_holder{
    text-align: center;
}

#alert-text{
    text-align: center;
}

@media only screen and (max-width: 600px){
    body{
        background-image: url(../img/background_slim.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 0%;
    }
}