body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
}

h1 {
    font-size: 36px;
    text-shadow: 1px 1px #353535;
}

h2 {
    font-size: 26px;
    text-align:center;
}

p {
    margin: 0;
}

.alert{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 200px;
}

.name-holder{
    margin-bottom: 40px;
}

.foretag-wrapper{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 25px;
}

.intro-text{
    margin-top: 20px;
    margin-bottom: 60px;
}

.small-p{
    font-size: 12px;
}

#draggablePanelList .panel {
    cursor: move;
}

.foretag{
    margin: 15px 0;
}

.submit_holder{
    text-align: center;
}

@media only screen and (max-width: 600px){
    body{
        background-image: url(../img/background_slim.png);
    }
}